.brand h1 {
    color: darkgreen;
    font-family: monospace;
    font-size: 1.4rem;
}

.brand a:hover {
    text-decoration: none;
}

.sidebar {
    background-color: #121212;
    text-align: center;
}

/* .lead { */
/*     display: none; */
/* } */

.content>.title {
    display: none;
}

.title a {
    color: green;
}

.footnote {
    display: none;
}

.post strong {
    color: green;
}
